@import url(./pre-custom-style.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Post Custom Styles */

body {
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
  line-height: 1.66;
  --tw-text-opacity: 1;
  color: rgb(25 25 25 / var(--tw-text-opacity));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    DM Sans,
    sans-serif;
  letter-spacing: 0em;
}

h1 {
  font-size: 3rem;
  line-height: 1;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 4.5rem;
    line-height: 1;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 100px;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 120px;
  }
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@media (min-width: 992px) {
  h2 {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 4.5rem;
    line-height: 1;
  }
}

@media (min-width: 1400px) {
  h2 {
    font-size: 80px;
  }
}

h4 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  line-height: 1.33;
  letter-spacing: 0em;
}

@media (min-width: 992px) {
  h5 {
    font-size: 28px;
  }
}

h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  line-height: 1.28;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-129px * 9));
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(calc(-129px * 9));
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}
